{% extends "layout.html" %}
{% block content %}
<h2><strong>{{
    "About us"
    }}</strong></h2>
<p>
    {{"Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias atque laboriosam dolorem aliquam odio quibusdam
    quisquam mollitia totam. Tempora recusandae sint autem libero dolor minima non, ad porro, nulla tenetur magnam repellendus
    quam blanditiis mollitia facere assumenda. Omnis sunt asperiores quibusdam velit quod a tempore libero, delectus voluptatem
    quo repellat? Hic sequi earum reiciendis architecto, consequuntur minima, iste explicabo accusamus totam dicta,
    esse veniam? Expedita, veniam at! Harum velit voluptatem cum consectetur nihil nesciunt modi ea dicta incidunt quam.
    Omnis molestias magnam id voluptatum, sit tenetur error iusto sint nihil odit vel nulla, deleniti culpa, repudiandae laudantium
    pariatur sunt veniam!"}}
</p>

<p>
    {{"Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias atque laboriosam dolorem aliquam odio quibusdam
    quisquam mollitia totam. Tempora recusandae sint autem libero dolor minima non, ad porro, nulla tenetur magnam repellendus
    quam blanditiis mollitia facere assumenda. Omnis sunt asperiores quibusdam velit quod a tempore libero, delectus voluptatem
    quo repellat? Hic sequi earum reiciendis architecto, consequuntur minima, iste explicabo accusamus totam dicta.
    "}}
</p>
{% endblock %}